/* Default background */
body {
    background-color: darkslategray;
}

/* Header Styling */
h1 {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/*=================*/
/* Nav Bar Styling */
/*=================*/

#nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20vw;
    background-color: #333;
}

#nav a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#nav a:hover {
    text-shadow: 0 0 5px white;
}

#container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*================================*/
/* Submit box in middle of screen */
/*================================*/

#submit-field {
    background: linear-gradient(to top, #222, #444);
    border-radius: 1em;
    min-width: 20em;
    width: 30%;
    height: 50%;
    text-align: center;
    align-content: center;
    padding-bottom: 4em;
    border-color: deepskyblue;
    border-width: 2px;
    border-style: solid;
}

#submit-btn {
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    border-style: groove;
}

#city-input {
    border-style: groove;
    border-radius: 0.5em;
    margin-right: 0.2em;
    padding: 0.5em;
}

/*=================*/
/* Results Styling */
/*=================*/

/* Result box */
#results {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 5%;
    width: 90%;
    height: 10%;
    margin-top: 2em;
    justify-content: space-between;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.6em;
}


/* Result elements */
.result-box {
    display:flex; 
    flex-direction: row; 
    align-items: center; 
    visibility: hidden; /* Hide all result elements by default */
}

#error-msg {
    color:yellow; 
    position:absolute; 
    align-self: center;
    visibility: hidden; /* Hide error message by default */
}

#results div h2 {
    margin: 0; /* Remove default margin */
}

/* Styling for each result element */